VITE_API_BASE_URL=http://localhost:3000
VITE_DEFAULT_ORG_ID=org-pilot
VITE_AUTH0_DOMAIN=dev-c6din8ya.eu.auth0.com
VITE_AUTH0_CLIENT_ID=65atFepkIh2jiMeaDqZlqgD63ccd2Gw1
VITE_AUTH0_AUDIENCE=https://plafusionapi.it
